
<div class="h-64 px-8 flex flex-col justify-evenly bg-custom-gray">
  <ul class="flex items-center">
    <li class="flex flex-col items-start gap-2 basis-1/4">
      <div class="flex items-center">
        <div class="bg-red-theme flex p-2 rounded-xl">
          <mat-icon
            class="material-symbols-rounded logo-mat-icon"
            fontIcon="school"
          ></mat-icon>
        </div>
        <h1 class="text-xl px-1">EduLearn</h1>
      </div>
      <p class="text-gray-500">
        Empowering learners worldwide with quality education
      </p>
    </li>
    <li class="basis-1/4 flex flex-col gap-3">
      <p>Company</p>
      <ul>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">About Us</a>
        </li>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Careers</a>
        </li>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Press</a>
        </li>
      </ul>
    </li>
    <li class="basis-1/4 flex flex-col gap-3">
      <p>Resources</p>
      <ul>
        <li><a href="#" class="text-gray-500 hover:text-red-theme">Blog</a></li>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Help Center</a>
        </li>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Community</a>
        </li>
      </ul>
    </li>
    <li class="basis-1/4 flex flex-col gap-3">
      <p>Legal</p>
      <ul>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Terms</a>
        </li>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Privacy</a>
        </li>
        <li>
          <a href="#" class="text-gray-500 hover:text-red-theme">Cookies</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="border-b border-gray-300"></div>
  <p class="text-gray-500 text-center">© 2025 EduLearn. All rights reserved.</p>
</div>
