<main class="flex h-full w-full justify-center px-4 md:px-8">
  <ul
    class="flex h-full w-full flex-col items-center justify-center gap-8 md:flex-row md:gap-0"
  >
    <li
      class="flex cursor-pointer flex-col items-center gap-4 select-none md:basis-1/2"
      routerLink="/"
    >
      <div class="bg-red-theme flex rounded-xl p-2">
        <mat-icon
          class="material-symbols-rounded mat-icon"
          fontIcon="school"
        ></mat-icon>
      </div>
      <h1 class="px-1 text-lg">EduLearn Platform</h1>
      <p class="text-center text-gray-500">
        Sign in to continue your learning journey
      </p>
    </li>

    <li class="flex w-full rounded-xl border border-gray-300 md:basis-1/2">
      <form
        class="flex w-full flex-col gap-6 p-4"
        [formGroup]="signinFormGroup"
      >
        <div>
          <p class="font-bold">Welcome Back</p>
          <p class="text-gray-500">Sign in to your account</p>
        </div>
        <ul class="flex w-full justify-between rounded-xl bg-red-100 p-1">
          <li class="flex basis-1/2 justify-center">
            <label
              class="flex w-full cursor-pointer justify-center rounded-xl py-1 font-bold"
              [class.bg-white]="selectedType === 0"
            >
              <input
                type="radio"
                (click)="selectType(0)"
                formControlName="type"
                class="appearance-none"
                value="Student"
                name="type"
              />
              Student
            </label>
          </li>
          <li class="flex basis-1/2 cursor-pointer justify-center">
            <label
              class="flex w-full cursor-pointer justify-center rounded-xl py-1 font-bold"
              [class.bg-white]="selectedType === 1"
            >
              <input
                type="radio"
                (click)="selectType(1)"
                formControlName="type"
                class="appearance-none"
                value="Instructor"
                name="type"
              />
              Instructor
            </label>
          </li>
        </ul>

        <div class="flex w-full flex-col gap-1">
          <label for="" class="font-bold">Email</label>
          <input
            class="input-style"
            type="email"
            placeholder="student@example.com"
            formControlName="email"
          />
          @if (
            signinFormGroup.controls.email.invalid &&
            signinFormGroup.controls.email.touched
          ) {
            <p class="text-red-theme">This field is required</p>
          }
        </div>

        <div class="flex w-full flex-col gap-1">
          <label for="" class="font-bold">Password</label>
          <input
            class="input-style"
            type="password"
            placeholder="••••••••"
            formControlName="password"
          />
          @if (
            signinFormGroup.controls.password.invalid &&
            signinFormGroup.controls.password.touched
          ) {
            <p class="text-red-theme">This field is required</p>
          }
        </div>

        <button
          type="button"
          class="red-btn flex items-center justify-center"
          (click)="!isSigninLoading ? signin() : ''"
          [disabled]="isSigninLoading"
        >
          @if (isSigninLoading) {
            <mat-spinner class="signin-loading" [diameter]="25"></mat-spinner>
          } @else {
            Sign In as {{ selectedType ? "Instructor" : "Student" }}
          }
        </button>

        <button
          type="button"
          class="text-red-theme w-full cursor-pointer hover:underline"
        >
          Forgot Password?
        </button>

        <button type="button" class="w-full text-gray-500">
          Don't you have an account?
          <a
            class="text-red-theme cursor-pointer hover:underline"
            routerLink="/signup"
            >Sign up</a
          >
        </button>
      </form>
    </li>
  </ul>
</main>
