<div class="flex min-h-dvh flex-col">
  <header class="z-50 w-full border-b border-b-gray-300 bg-white px-4 md:px-8">
    <app-navigation></app-navigation>
  </header>
  <main
    class="grow"
    [class.flex]="isEmptyCourses()"
    [class.flex-col]="isEmptyCourses()"
  >
    <div
      class="flex flex-col items-center justify-evenly gap-8 bg-radial from-white to-red-50 py-16"
    >
      <p
        class="bg-red-theme rounded-xl px-2 py-1 text-center font-bold text-white"
      >
        Course Catalog
      </p>
      <p class="text-[clamp(14px,3vw,1.125rem)]">Explore Our Courses</p>
      <p
        class="w-2/3 text-center text-[clamp(12px,3vw,1.125rem)] text-gray-500"
      >
        Browse through our extensive collection of expert-led courses and find
        the perfect one for you
      </p>
    </div>
    <div
      class="flex flex-col justify-between bg-white px-4 py-6 md:px-8"
      [class.grow]="isEmptyCourses()"
    >
      <ul class="flex flex-col gap-4 md:flex-row">
        <li class="basis-3/5">
          <input
            class="bg-custom-gray border-red-theme h-10 w-full rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
            type="text"
            placeholder="Search Courses..."
            [formControl]="searchFormControl"
          />
        </li>
        <li class="relative basis-1/5">
          <button
            class="bg-custom-gray flex h-10 w-full cursor-pointer items-center justify-between rounded-xl px-2"
            type="button"
            (click)="closedCategories = !closedCategories"
          >
            <mat-icon
              class="material-symbols-rounded"
              fontIcon="filter_alt"
            ></mat-icon>
            <p>{{ selectedCategory }}</p>
            <mat-icon
              class="material-symbols-rounded"
              fontIcon="stat_minus_1"
            ></mat-icon>
          </button>
          <category-list
            class="z-300"
            [closedCategories]="closedCategories"
            [categoryList]="categoryList"
            (selectedCategory)="setSelectedCategory($event)"
          ></category-list>
        </li>
        <li class="relative basis-1/5">
          <button
            class="bg-custom-gray flex h-10 w-full cursor-pointer items-center justify-between rounded-xl px-2"
            type="button"
            (click)="closedDifficulties = !closedDifficulties"
          >
            <p>{{ selectedDifficulty }}</p>
            <mat-icon
              class="material-symbols-rounded"
              fontIcon="stat_minus_1"
            ></mat-icon>
          </button>
          <difficulty-list
            class="z-300"
            [closedDifficulty]="closedDifficulties"
            [difficultyList]="difficultyList"
            (selectedDifficulty)="setSelectedDifficulty($event)"
          ></difficulty-list>
        </li>
      </ul>

      <ul
        class="relative mt-8 flex grow flex-col justify-center gap-8"
        [class.py-6]="isLoading && isEmptyCourses()"
      >
        @if (isLoading) {
          <loading
            class="absolute z-10 h-full w-full"
            [isLoading]="isLoading"
            [diameter]="50"
          ></loading>
        }
        @for (item of courses; track $index) {
          <li>
            <app-course-item [course]="item"></app-course-item>
          </li>
        }
      </ul>
    </div>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
