<!--<ul
  class="flex h-128 flex-col justify-around overflow-hidden rounded-xl border-r border-b border-l border-gray-300 bg-white"
>
  <li class="relative basis-2/5 overflow-hidden bg-gray-900">
    <p
      class="bg-red-theme absolute right-0 mt-2 mr-2 rounded-xl px-3 py-1.5 text-xs font-bold text-white"
    >
      Development
    </p>

    <img class="w-full h-full object-cover" [src]="course()?.thumbnail" />
  </li>
  <li
    class="grid basis-3/5 grid-cols-1 grid-rows-12 overflow-hidden p-6 md:p-8"
  >
    <p class="row-start-1 row-end-2 cursor-pointer font-bold">
      {{ course()?.title }}
    </p>
    <p class="row-start-3 row-end-5 text-gray-500">
      {{ shortDescription(course()?.description) }}
    </p>
    <ul
      class="row-start-5 row-end-7 flex items-center justify-between text-gray-500"
    >
      <li class="flex items-center gap-1">
        <mat-icon class="mat-star-icon" fontIcon="star"></mat-icon>4.3 stars
      </li>
      <li class="flex items-center gap-1">
        <mat-icon class="material-symbols-rounded" fontIcon="group"></mat-icon
        >{{ 1234 | number }}
      </li>
      <li class="flex items-center gap-1">
        <mat-icon
          class="material-symbols-rounded"
          fontIcon="schedule"
        ></mat-icon
        >{{ course()?.duration }}
      </li>
    </ul>
    <p class="row-start-8 row-end-9">by {{ course()?.instructor }}</p>
    <div class="row-start-10 row-end-12 flex gap-2">
      <button
        type="button"
        class="basis-1/2 cursor-pointer rounded-xl border border-gray-300 font-bold hover:border-red-300 hover:bg-red-200 hover:text-red-900 md:px-6 md:py-2"
      >
        View Details
      </button>
      <button
        type="button"
        class="bg-red-theme basis-1/2 cursor-pointer rounded-xl font-bold text-white hover:bg-red-400 md:px-6 md:py-2"
      >
        Enroll Now
      </button>
    </div>
  </li>
</ul>-->

<ul
  class="flex justify-around overflow-hidden rounded-xl border border-gray-300 bg-white"
>
  <li class="relative basis-2/5 overflow-hidden bg-gray-900 xl:basis-2/8">
    <p
      class="bg-red-theme absolute right-0 mt-2 mr-2 rounded-xl px-3 py-1.5 text-xs font-bold text-white"
    >
      {{ course()?.category }}
    </p>

    <img class="h-full w-full object-cover" [src]="course()?.thumbnail" />
  </li>
  <li
    class="flex basis-3/5 flex-col justify-between gap-4 overflow-hidden p-2 px-4 xl:basis-6/8"
  >
    <p class="cursor-pointer font-bold">
      {{ course()?.title }}
    </p>
    <p class="text-gray-500 text-ellipsis overflow-hidden whitespace-nowrap">
      {{ shortDescription(course()?.description) }}
    </p>
    <ul
      class="flex flex-col justify-start gap-2 text-gray-500 md:flex-row md:items-center md:gap-8"
    >
      <li class="flex items-center gap-1">
        <mat-icon class="mat-star-icon" fontIcon="star"></mat-icon>4.3 stars
      </li>
      <li class="flex items-center gap-1">
        <mat-icon class="material-symbols-rounded" fontIcon="group"></mat-icon
        >{{ 1234 | number }}
      </li>
      <li class="flex items-center gap-1">
        <mat-icon
          class="material-symbols-rounded"
          fontIcon="schedule"
        ></mat-icon
        >{{ course()?.duration }}
      </li>
    </ul>
    <p class="">by {{ course()?.instructor }}</p>
    <div class="flex flex-col gap-2 md:flex-row md:justify-end">
      <button
        type="button"
        class="cursor-pointer rounded-xl border border-gray-300 px-6 py-2 font-bold hover:border-red-300 hover:bg-red-200 hover:text-red-900"
      >
        View Details
      </button>
      <button
        type="button"
        class="bg-red-theme cursor-pointer rounded-xl px-6 py-2 font-bold text-white hover:bg-red-400"
      >
        Enroll Now
      </button>
    </div>
  </li>
</ul>
