<ul
  class="flex flex-col h-128 bg-white border-b border-l border-r border-gray-300 rounded-xl overflow-hidden justify-around"
>
  <li class="basis-2/5 overflow-hidden relative">
    <p class="bg-red-theme rounded-xl px-3 py-1.5 absolute font-bold text-white text-xs right-0 mr-2 mt-2">Development</p>
    <img
      src="https://designli.co/hubfs/Imported_Blog_Media/chris-ried-ieic5Tq8YMk-unsplash.jpg"
    />
    
  </li>
  <li class="flex flex-col gap-4 p-8 basis-3/5 overflow-hidden justify-between">
    <p class="font-bold">Web Development Bootcamp</p>
    <p class="text-gray-500">
      Learn HTML, CSS, JavaScript, and React from scratch
    </p>
    <ul class="flex justify-between text-gray-500">
      <li>4.3 stars</li>
      <li>{{ 1234 | number }}</li>
      <li>8 Weeks</li>
    </ul>
    <p>by Abdelilah</p>
    <div class="flex gap-2">
        <button type="button" class="border border-gray-300 rounded-xl font-bold px-6 py-2 basis-1/2
        cursor-pointer hover:text-red-900 hover:border-red-300 hover:bg-red-200">View Details</button>
      <button
        type="button"
        class="bg-red-theme font-bold text-white w-full rounded-xl px-6 py-2 cursor-pointer hover:bg-red-400 basis-1/2"
      >
        Enroll Now
      </button>
    </div>
  </li>
</ul>
