<div class="flex min-h-dvh flex-col">
  <main>
    <section
      class="flex flex-col items-center gap-12 bg-radial from-white to-red-50 px-4 py-16 md:px-8"
    >
      <h2
        class="text-red-theme rounded-xl border border-red-200 bg-red-100 px-2 py-1 text-center font-bold"
      >
        Simple, Transparent Pricing
      </h2>
      <h3 class="text-center text-[clamp(22px,9vw,4.375rem)] font-bold">
        Invest in Your <span class="text-red-theme">Growth</span>
      </h3>
      <p
        class="text-center text-xl text-[clamp(12px,3vw,1.125rem)] text-gray-500"
      >
        Choose the plan that fits your learning style. Upgrade, downgrade, or
        cancel anytime — no strings attached.
      </p>
    </section>

    <section class="bg-white px-4 py-16 md:px-40">
      <ul class="flex flex-col gap-16 md:flex-row">
        <li
          class="flex grow flex-col gap-6 rounded-xl border-2 border-gray-300 p-8"
        >
          <div class="flex h-11 gap-3 overflow-hidden">
            <div
              class="flex h-11 w-11 items-center justify-center rounded-xl bg-red-200"
            >
              <mat-icon
                class="material-symbols-rounded text-red-theme!"
                fontIcon="bolt"
              ></mat-icon>
            </div>
            <div class="flex flex-col justify-between">
              <p class="text-lg font-bold">Starter</p>
              <p class="text-xs font-normal text-gray-500">Monthly billing</p>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-end">
              <p class="text-6xl font-bold">$4</p>
              <p class="text-4xl font-bold">
                .99
                <span
                  class="relative top-1 align-super text-base leading-0 font-normal text-gray-500"
                  >/ month</span
                >
              </p>
            </div>
            <p class="text-gray-500">
              Perfect for casual learners exploring new skills
            </p>
          </div>

          <ul class="flex grow flex-col gap-4">
            @for (item of starter; track $index) {
              <li class="flex items-center gap-4">
                <div
                  class="flex h-6 w-6 items-center justify-center rounded-full bg-green-100"
                >
                  <mat-icon
                    class="material-symbols-rounded check"
                    fontIcon="check"
                  ></mat-icon>
                </div>
                <p>{{ item }}</p>
              </li>
            }
          </ul>
          <button
            class="white-btn text-red-theme! border-red-theme! hover:bg-red-theme! w-full hover:text-white!"
          >
            Subscribe Now
          </button>
        </li>
        <li
          class="border-red-theme relative flex grow flex-col gap-6 rounded-xl border-2 p-8 shadow-2xl shadow-red-100"
        >
          <p
            class="bg-red-theme absolute top-0 left-1/2 -translate-1/2 rounded-full px-4 py-2 font-bold text-white"
          >
            MOST POPULAR
          </p>

          <div class="flex h-11 gap-3 overflow-hidden">
            <div
              class="bg-red-theme flex h-11 w-11 items-center justify-center rounded-xl"
            >
              <mat-icon
                class="material-symbols-rounded text-white!"
                fontIcon="crown"
              ></mat-icon>
            </div>
            <div class="flex flex-col justify-between">
              <p class="text-lg font-bold">Pro Annual</p>
              <p class="text-xs font-normal text-gray-500">Billed yearly</p>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-end">
              <p class="text-6xl font-bold">$49</p>
              <p class="text-4xl font-bold">
                .99
                <span
                  class="relative top-1 align-super text-base leading-0 font-normal text-gray-500"
                  >/ year</span
                >
              </p>
            </div>
            <p class="text-gray-500">
              For committed learners who want everything
            </p>
          </div>

          <ul class="flex grow flex-col gap-4">
            @for (item of pro; track $index) {
              <li class="flex items-center gap-4">
                <div
                  class="bg-red-theme flex h-6 w-6 items-center justify-center rounded-full"
                >
                  <mat-icon
                    class="material-symbols-rounded red-check"
                    fontIcon="check"
                  ></mat-icon>
                </div>
                <p>{{ item }}</p>
              </li>
            }
          </ul>
          <button class="red-btn w-full">Subscribe Now</button>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
