<div class="flex min-h-dvh flex-col">
  <main>
    <section
      class="flex flex-col items-center gap-12 bg-radial from-white to-red-50 px-4 py-16 md:px-8"
    >
      <h2
        class="text-red-theme rounded-xl border border-red-200 bg-red-100 px-2 py-1 text-center font-bold"
      >
        Simple, Transparent Pricing
      </h2>
      <h3 class="text-center text-[clamp(22px,9vw,4.375rem)] font-bold">
        Invest in Your <span class="text-red-theme">Growth</span>
      </h3>
      <p
        class="text-center text-xl text-[clamp(12px,3vw,1.125rem)] text-gray-500"
      >
        Choose the plan that fits your learning style. Upgrade, downgrade, or
        cancel anytime — no strings attached.
      </p>
    </section>

    <section class="bg-white">

    </section>
  </main>
</div>
