.check {
    color: var(--color-green-600);
    height: 16px;
    width: 16px;
    font-size: 16px;
}

.red-check {
    color: var(--color-white);
    height: 16px;
    width: 16px;
    font-size: 16px;
}