<nav class="bg-white py-4">
  <ul class="flex justify-between">
    <li class="flex items-center px-2 basis-[25%]">
      <div class="bg-red-theme flex p-2 rounded-xl">
        <mat-icon class="material-symbols-rounded mat-icon" fontIcon="school"></mat-icon>
      </div>
      <h1 class="text-xl px-1">EduLearn</h1>
    </li>
    <li class="basis-[50%]">
      <ul class="h-full flex justify-evenly items-center text-lg font-normal">
        <li><a class="cursor-pointer px-2 hover:text-red-theme" href="courses">Courses</a></li>
        <li><a class="cursor-pointer px-2 hover:text-red-theme text-red-theme" href="about">About</a></li>
        <li><a class="cursor-pointer px-2 hover:text-red-theme" href="contact">Contact</a></li>
      </ul>
    </li>
    <li class="flex justify-end items-center basis-[25%]">
      <button class="text-white bg-red-theme rounded-xl font-bold px-6 py-2 cursor-pointer">Sign In</button>
    </li>
  </ul>
</nav>

