<div class="flex min-h-dvh flex-col">
  <main class="relative flex grow flex-col items-start">
    @if (type == "Instructor") {
      <app-instructor class="h-full w-full grow" [user]="user"></app-instructor>
    } @else if (type === "Student") {
      <app-student class="flex h-full w-full grow" [user]="user"></app-student>
    } @else {
      <loading
        class="absolute h-full w-full"
        [diameter]="50"
        [isLoading]="true"
      ></loading>
    }
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
