.mat-icon {
    width: 100% !important;
    height: 100% !important;
    font-size: 32px !important;
    align-content: center;
    text-align: center;
    color: white;
}

.mat-person {
    color: black;

    &:hover {
        color: var(--color-red-900);
    }
}

.mat-logout{
    color: black;
    
}