/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-red-theme: #D92929;
    --color-custom-gray: #F2F2F2;
}

;

html,
body {
    height: 100%;
    --mat-progress-spinner-active-indicator-color: var(--color-red-theme);
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

::selection {
    background-color: var(--color-red-300);
    color: var(--color-red-900);
}

