/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-red-theme: #D92929;
    --color-custom-gray: #F2F2F2;
}

;

@font-face {
    font-family: 'SamsungOne';
    src: url('./assets/fonts/SamsungOne-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Samsung One - Bold (700) */
@font-face {
    font-family: 'SamsungOne';
    src: url('./assets/fonts/SamsungOne-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Samsung Sharp Sans - Bold */
@font-face {
    font-family: 'SamsungSharpSans';
    src: url('./assets/fonts/SamsungSharpSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    height: 100%;
    --mat-progress-spinner-active-indicator-color: var(--color-red-theme);

}

body {
    margin: 0;
    font-family: 'SamsungOne';
}

::selection {
    background-color: var(--color-red-300);
    color: var(--color-red-900);
}